.errorBox {
    /* display: block; */
    color: rgb(202, 62, 62);
    text-align: center;
}

.errors {
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 12px;
    line-height: 1.3;
}
