.modal-parent {
  display: flex;
  justify-content: center;
}

.modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity:1 !important;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s
}

.modal-kid {
  position: absolute;
  top: 140px;
  background-color: white;
  width: 30rem;
  margin: auto;

  border-radius: 0.5rem;

  font-family: 'Josefin Sans', sans-serif;
  color: #5a5a5a;
  font-size: 13px;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-weight: lighter;
  font-style: normal;
  text-transform: none;
  box-sizing: border-box;
  z-index: 11;
}

.input-field {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  position: relative;
}

.input-label {
  display: block;
  position: relative;
  font-size: 14px;
  padding: 8px;
}

.input-text {
  display: inline-block;
  position: absolute;
  top: 22px;
  left: 28px;
  pointer-events: none;
}

.input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 60px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  font-size: 14px;
  line-height: normal;
/*   
  transition-property: border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  transition-delay: 0s; */

  padding: 13px 0 0 13px;
}

.input:focus {
  background-color: rgb(243, 232, 223);
  outline: rgb(255, 174, 0);
}

.form-container {
  padding: 50px;
}

.form-header {
  font-size: 25px;
  /* color: rgba(40, 36, 46, 0.555); */
  display: block;
  text-align: center;
}

.bottom-modal-buttons {
  display: block;
  text-align: center;
}

.bottom-modal-buttons button:focus {
    outline: none;
}

.final-button {
  display: block;
  border-radius: 30px;
  width: 90%;
  background-color: #9c6b4c;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 100px;
  margin-left: 5%;
}

.final-button:hover {
  color: #dfcfc6;
}

.final-button:focus {
  outline: none;
}

button {
  padding: 2px;
  border-radius: 2px;
  color: #9c6b4c;
  text-decoration: underline;
  background-color: transparent;
}

button:hover {
  color: #dfcfc6;
  /* text-decoration: underline; */
}

.close-x {
  font-size: 60px;
  font-weight: bold;
  color:#9c6b4c;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  /* color: #aaa; */
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 0
}

.close-x:hover,
.close-x:focus {
  color: black;
  cursor: pointer;
}

.adopt-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0 15px 0;
  /* background-color: transparent; */
}

.adopt-form-header {
  font-size: 30px;
  color: white;
  font-weight: bolder;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.adopt-form-subheader {
  font-size: 13px;
  color: rgb(223, 208, 208);
}

.adopt-form-container {
  display: flex;
  padding: 50px;
  border-radius: 5px;

  background: linear-gradient(90deg, #eb7f7f, #d4a57a, #d6c781, #9fe086, #a7ace4, #cca7e4);
  /* color: linear-gradient(90deg, #e11a1a, #e1791a, #e0e11a, #54e11a, #1a2be1); */
  background-size: 1000% 1000%;
  
  /* -webkit-animation: rainbow 33s ease infinite; */
  animation: rainbow 3s ease infinite;
  
  /* @-webkit-keyframes rainbow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  } */
  
}

@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.adopt-final-button {
  border-radius: 5px;
  padding: 18px 30px 15px 30px;
  margin: 45px 15px 0px 15px;
  text-transform: uppercase;
  font-size: 40px;
  /* color: rgb(192, 152, 140); */
  color: white;
  border: 2px solid white;
  background-color: transparent;
}

.adopt-final-button:hover {
  color: rgb(34, 31, 30);
  border: 2px solid rgb(34, 31, 30);

}

.unadopt-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  /* background: linear-gradient(90deg, white, #f7f5f5, gray, rgb(10, 10, 10));
  background-size: 1000% 1000%;
  
  animation: rainbow 3s ease infinite; */
}

.unadopt-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding: 15px 0 15px 0; */
  /* background-color: transparent; */
}

.unadopt-form-header-1 {
  font-size: 30px;
  color: rgb(206, 154, 138);
  font-weight: bolder;
 
}

.unadopt-form-subheader {
  margin: 5px;
  padding: 4px;
  font-style: italic;
  color: black;
  /* background-color: rgb(192, 152, 140);
  color: rgb(246, 232, 232); */
}

.unadopt-image {
  height: 200px;
  width: 200px;
  /* margin: 35px 0px 0px 0px; */
  border-radius: 3px;
}

.unadopt-form-container marquee {
  padding-top: 10px;
  width: 70%
}

.unadopt-button-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-top: 30px;
}

.unadopt-button-section div{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-self: center; */
  text-align: center;
  justify-content: space-between;
}

.unadopt-final-button {
  font-size: 10px;
  color: rgb(34, 31, 30);
  text-transform:uppercase;
  background-color: transparent;
  /* color: black; */
}

/* .unadopt-x {
  font-size: 60px;
  color: red;
  cursor: pointer;
} */

.unadopt-final-button:hover {
  /* font-size: 10px; */
  /* color: rgb(241, 229, 229); */
  color: red;
  cursor: pointer;
}


