.nav {
   display: flex;
   justify-content: space-between;
   /* justify-content: flex-start; */
   align-items: center;
   width: 100%;
   position: fixed;
   top: 0px;
   background-color: white;
   max-height: 70px;
   z-index: 1;
}

.nav-left {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin: 15px;
   margin-top: 25px;
   font-size: 50px;
   font-family: 'Josefin Sans', sans-serif;
   color: black;
}

.nav-left-logo {
   color: black;
}

.nav-left-logo:hover {
   color: #dfcfc6;
}

.welcome {
   font-size: 16px;
   text-transform: uppercase;
   margin-right: 0;

   /* color: rgb(143, 151, 160); */
}

.welcome-2 {
   margin-left: 5px;
   font-size: 15px;
   text-decoration: underline;
   color: #a18371;
}
   
.nav-right-logged-out {
   display: flex;
   align-items: center;
   margin: 10px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 45px;
   color: #dfcfc6;
}

.nav-right-loggedin {
   display: block;
   float: right;
   flex-direction: row;
   margin: 15px;
   margin-top: 10px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 45px;
}

.nav-buttons{
   color: black;
   outline: none;
   background-color: transparent;
   padding: 8px;
}

.nav-button-loggedin {
   background-color: transparent;
   color: black;
   font-size: 16px;
   font-family: 'Josefin Sans', sans-serif;
   width: 3rem;
}

.loggedin-header {
   display: flex;
   justify-content: flex-start;
   padding: 40px;
   /* background-color: #a4a4a4; */
   font-family: 'Barlow', sans-serif;
   letter-spacing: 4px;
   word-spacing: 3px;
   /* font-weight: heavy; */
   font-size: 30px;
   color: #a4a4a4;
   box-sizing: border-box;
   width: 25%;
}

.nav-icons {
   display: inline-block;
   align-content: space-between;
   
   padding: 6px;
   margin-left: 30px
}
.nav-icons:hover {
   color: #dfcfc6;
   cursor: pointer;
}

.nav-user {
   display: inline-block;
   /* margin: 15px; */
   flex-direction: row;
   justify-content: center; 
   align-items: center;
   color: white;
}

.nav-name {
   font-family: 'Josefin Sans', sans-serif;
   text-transform: capitalize;
   /* font-variant:small-caps;    */
   font-size: 30px;
   color: #a4a4a4;
}

.splash-footer {
   display: flex;
   justify-content: space-between;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
   /* position: fixed; */
   /* position: absolute; */
   bottom: 0;
   left: 0;
   /* min-height: 1rem; */
   background-color: white;
   /* background-color: rgb(234, 224, 215); */
   z-index: 1;
   font-size: 13px;
   font-family: 'Josefin Sans', sans-serif;
   color: black;
}

.fa-linkedin, .fa-github-square {
   padding: 5px;
   margin-right: 8px;
   color: #a18371;
}

.fa-linkedin {
   padding-left: 18px;
}

.fa-linkedin:hover, .fa-github-square:hover {
    color: #dfcfc6;
}

