.nav {
   display: flex;
   justify-content: space-between;
   width:100%;
   position:fixed;
   top:0px;
   background-color: white;
   min-height: 6rem;
   width: 100%;
}

.nav-left{
   margin: 15px;
   /* color: blue; */
   /* color: #9b7f71; */
   font-size: 50px;
   font-family: 'Josefin Sans', sans-serif;
   color: black;
}
   
.nav-right-logged-out {
   display: flex;
   margin: 15px;
   align-items: center;
   flex-direction: row;
   justify-content: center; 
   font-family: 'Josefin Sans', sans-serif;
   font-size: 45px;
   color: #dfcfc6;
}

.nav-right-loggedin {
   display: block;
   float: right;
   flex-direction: row;
   margin: 15px;
   margin-top: 10px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 45px;
}

.nav-buttons{
   color: black;
   outline: none;
   background-color: transparent;
}

.nav-button-loggedin {
   background-color: transparent;
   color: black;
   font-size: 25px;
   font-family: 'Josefin Sans', sans-serif;
   width: 3rem;
}

.loggedin-header {
   display: flex;
   justify-content: flex-start;
   padding: 40px;
   /* background-color: #a4a4a4; */
   font-family: 'Barlow', sans-serif;
   letter-spacing: 4px;
   word-spacing: 3px;
   font-weight: heavy;
   font-size: 40px;
   color: #a4a4a4;
   box-sizing: border-box;
   width: 25%;
}

.nav-icons {
   display: inline-block;
   align-content: space-between;
   
   padding: 10px;
   margin-left: 50px
}

.nav-user {
   display: inline-block;
   /* margin: 15px; */
   flex-direction: row;
   justify-content: center; 
   align-items: center;
   color: white;
}

.nav-name {
   font-family: 'Josefin Sans', sans-serif;
   text-transform: capitalize;
   /* font-variant:small-caps;    */
   font-size: 30px;
   color: #a4a4a4;
}
