.pet-show {
    display: flex;
    padding-top: 90px;

}

.pet-show-left{
    background-color: rgb(234, 224, 215);
    width: 50%;
    min-height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    /* margin-bottom: 50px; */
}

.pet-show-top {
    display: flex;
    position: relative;
    /* width: 50%; */
    height: 400px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    /* padding-left: 30px; */
    padding-left: 10px;
    /* padding-top: 90px; */
}

.pet-show-links {
    position: absolute;
    text-align: center;
    padding: 12px;
    top: 8px;
    left: px;
    /* left: 10; */
    border: 2px solid black;
    font-size: 8px;
    color: black;
}

.pet-show-links:hover {
    color: #504945;
    border: 4px solid #504945;
    cursor: pointer;
    text-decoration: underline;
}
.pet-show-header {
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
    /* padding-left: 60px; */
}

.pet-show-header-desc {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 5px;
    padding-top: 6px;
}

.fa-grip-lines {
    color: rgb(247, 239, 236);
}

/* pet.name */
.pet-show-header-desc > div:first-child {
    color: rgb(66, 63, 63);
    font-size: 90px;
    padding: 0;
}

/* pet.about section */
.pet-show-header-desc > div:last-child {
    color: white;
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: 0px;
    padding-bottom: 10px;
    padding-left: 60px;

}

/* About */
/* .pet-show-header-desc > div:last-child > div:first-child {
    font-size: 20px;
    letter-spacing: 5px;
} */

.pet-show-list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    top: 50px;
    left: 540px;
    /* overflow: hidden; */

    padding: 15px;
    min-width: 200px;
    max-height: 150px;

    font-family: 'Barlow', sans-serif;
    background-color:  rgb(192, 152, 140);
    color: rgb(240, 227, 223);
    font-size: 15px;
  /* left: calc(-50vw + 50%); */
}

/* .pet-show-list:after {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  content: "";
  transform: rotate(48deg);
  transform-origin: bottom right;
} */

.pet-show-bottom {
}

.pet-show-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.pet-show-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-color: rgb(234, 224, 215);
    padding: 5px 5px;
    font-size: 12px;
    /* border: 1px solid rgb(192, 152, 140); */
}


.pet-show-grid > div:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 50px;
    color: rgb(192, 152, 140);
}

.pet-show-grid-item > div > h3 {
    font-size: 20px;
    color: rgb(192, 152, 140);
    margin-bottom: 10px;
}

.hours {
    display: flex;
    /* flex-direction: column; */
}

.hours > div {
    width: 110px;
}

.location > a {
    color: black;
}

.fees li:last-child {
    color: rgb(78, 77, 77);
}
/* 
.hours div:nth-child(even){
    color: rgb(71, 68, 68);
}
.hours div:nth-child(odd){
    color: rgb(46, 44, 44);
} */

.pet-show-images {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
