.pet-show {
    display: flex;
    flex-direction: column;
    padding-top: 85px;
    font-family: 'Josefin Sans', sans-serif;
    /* background-color: rgb(234, 224, 215); */
}

.pet-show-top {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(247, 243, 240); */
    background-color: white;
    justify-content: center;
    /* border: 3px solid yellow; */
}

.pet-show-top-content {
    display: inline-flex;
    flex-direction: row;
}

.pet-show-banner {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    width: 100%;
    /* margin-top: 10px; */
    padding: 12px;
    top: 70px;


    font-family: 'Barlow', sans-serif;
    background-color: rgb(192, 152, 140);
    color: rgb(240, 227, 223);
    font-size: 15px;

    z-index: 1;
}

.pet-show-top-left {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 40%;
}

.pet-show-name {
    padding: 100px 0 0 25px;
    padding-bottom: 30px;
    color: rgb(66, 63, 63);
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 5px;
    /* background-color: rgb(240, 227, 223); */
}

.pet-show-about {
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 2.2;
    color:  rgb(192, 152, 140);
    /* color: white; */
    padding-left: 55px;
    width: 300px;
}

.adopt-section {
    /* display: flex;
    flex-direction: column; */
    border: 2px solid red;
}
.adopt-section button {
    padding: 20px 15px 20px 15px;
    border: 2px solid rgb(192, 152, 140);
    background-color: transparent;
}
.fa-grip-lines {
    /* color: rgb(247, 239, 236); */
    color: chocolate;
    padding: 0 0 0 30px;
}

.photo-main {
    display: flex;
    /* height: 100%; */
    /* width: 800px; */
}

.pet-show-images {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 50px;
    /* border: 1px solid green; */
}

.main-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 504px;
    width: 700px;
    background-color: rgb(234, 224, 215);
    /* background-color: white; */
}

/* large pic */
.main-image-container > img {
    /* display: inline-block;
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 500px;
    margin-top: 44px; */

    max-width: 700px;
    max-height: 504px;
    height: auto;
    width: auto;
    /* border: 1px solid blue; */
}

.photo-thumbnail {

    display: flex;
    flex-direction: column;
    margin-right: 1%;
    margin-left: 1%;
}

.photo-thumbnail > img {

    width: 120px;
    height: 100px;
    margin-bottom: 1%;
}

/* @keyframes selected-image {
    from {opacity: 50%;}
    to {opacity: 100%;}
}

.photo-thumbnail > img::selection {
    animation-name: selected-image;
} */

.not-selected-photo {
    opacity: 50%;
}

.pet-show-links {
    display: flex;
    justify-content: space-between;
    max-width: 99%
}

.pet-show-back-link {
    position: relative;
    padding: 10px 5px 10px 5px;
    top: 12px;
    left: 3px;

    width: 60px;
    height: 15px;
    
    border: 2px solid black;
    font-size: 7px;
    color: black;
}

.pet-show-button:hover {
    color: #afa6a0;
    border: 2px solid #504945;
    cursor: pointer;
    /* text-decoration: underline; */
}

.pet-show-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    background-color: rgb(234, 224, 215);
    /* border: 3px solid red; */
}

/* .pet-show-grid > div:first-child {
    border-bottom: solid 2px rgb(192, 152, 140);
} */

.name {
    border-top: solid 2px rgb(192, 152, 140);
    padding-top: 10px;
}

.fees {
    padding-top: 10px;
}
.pet-show-grid-item {
    padding: 5px 5px;
    font-size: 12px;
    /* border: 1px solid rgb(192, 152, 140); */
    /* border: 3px solid blue; */
}


.pet-show-grid > div:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 30px;
    color: rgb(192, 152, 140);
}

.pet-show-grid-item > div > h3 {
    font-size: 15px;
    color: rgb(192, 152, 140);
    margin-bottom: 10px;
}

.hours > div {
    width: 110px;
}

.pet-show-grid-item > div > a {
    color: black;
}

.pet-show-grid-item > div > a:hover {
    color: black;
    text-decoration: underline;
}

.fees li:last-child, .contact li:last-child {
    color: rgb(78, 77, 77);
}
/* 
.hours div:nth-child(even){
    color: rgb(71, 68, 68);
}
.hours div:nth-child(odd){
    color: rgb(46, 44, 44);
} */

