.pet-show {
    display: flex;
    padding-top: 90px;

}

.pet-show-left{
    background-color: rgb(234, 224, 215);
    width: 50%;
    min-height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    /* margin-bottom: 50px; */
}

.pet-show-top {
    display: flex;
    position: relative;
    flex-direction: column;
    /* width: 50%; */
    /* height: 400px; */
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    /* padding-left: 10px; */
    /* padding-top: 90px; */
}

.pet-show-links {
    display: flex;
    justify-content: space-between;
    max-width: 99%
}

.pet-show-back-link {
    /* display: block; */
    position: relative;
    /* text-align: center; */
    padding: 10px 5px 10px 5px;
    top: 12px;
    left: 3px;

    width: 60px;
    height: 15px;
    
    border: 2px solid black;
    font-size: 10px;
    color: black;
}

.pet-show-button:hover {
    color: #afa6a0;
    border: 2px solid #504945;
    cursor: pointer;
    /* text-decoration: underline; */
}

.pet-show-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    padding: 15px;


    font-family: 'Barlow', sans-serif;
    background-color:  rgb(192, 152, 140);
    color: rgb(240, 227, 223);
    font-size: 15px;
  /* left: calc(-50vw + 50%); */
}

.pet-show-name {
    padding: 30px 0 0 30px;
    color: rgb(66, 63, 63);
    font-size: 90px;
    font-weight: bolder;
    letter-spacing: 5px;
}

.fa-grip-lines {
    color: rgb(247, 239, 236);
    padding: 0 0 0 60px;
}
.pet-show-about {
    width: 90%;
    padding: 15px 0 30px 30px;

    font-size: 28px;
    font-weight: lighter;
    letter-spacing: 2px;
    color: white;
}

/* .pet-show-list:after {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  content: "";
  transform: rotate(48deg);
  transform-origin: bottom right;
} */

/* .pet-show-bottom {
} */

.pet-show-grid {
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 2px;
    /* border: 3px solid red; */
}

.pet-show-grid-item {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-evenly; */
    /* position: relative; */
    background-color: rgb(234, 224, 215);
    padding: 5px 5px;
    font-size: 12px;
    /* border: 1px solid rgb(192, 152, 140); */
    /* border: 3px solid blue; */
}


.pet-show-grid > div:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 50px;
    color: rgb(192, 152, 140);
}

.pet-show-grid-item > div > h3 {
    font-size: 20px;
    color: rgb(192, 152, 140);
    margin-bottom: 10px;
}

.hours {
    /* display: flex; */
    /* flex-direction: column; */
}

.hours > div {
    width: 110px;
}

.pet-show-grid-item > div > a {
    color: black;
}

.pet-show-grid-item > div > a:hover {
    color: black;
    text-decoration: underline;
}

.fees li:last-child, .contact li:last-child {
    color: rgb(78, 77, 77);
}
/* 
.hours div:nth-child(even){
    color: rgb(71, 68, 68);
}
.hours div:nth-child(odd){
    color: rgb(46, 44, 44);
} */

.pet-show-images {
    display: flex;
    flex-direction: column;
    width: 50%;
}
