.pet-show {
    display: flex;
    flex-direction: column;
    padding-top: 85px;
    font-family: 'Josefin Sans', sans-serif;
}

.pet-show-top {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}

.pet-show-top-content {
    display: inline-flex;
    flex-direction: row;
}

.pet-show-banner {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    width: 100%;
    /* margin-top: 10px; */
    padding: 12px;
    top: 70px;


    font-family: 'Barlow', sans-serif;
    background-color: rgb(192, 152, 140);
    color: rgb(240, 227, 223);
    font-size: 15px;

    z-index: 1;
}

.pet-show-top-left {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    padding-left: 30px;
}

.pet-show-name {
    padding: 100px 0 30px 0;
    color: rgb(66, 63, 63);
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 5px;
    /* background-color: rgb(240, 227, 223); */
}

.pet-show-about {
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 2.2;
    color:  rgb(192, 152, 140);
    /* color: white; */
    padding: 0 0 30px 0;
    width: 300px;
}

.adopt-button {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    margin: 0;
    border: 0;
    font-size: 18px;
    /* top: 50%;
    left: 50%; */
    /* margin-top: -25px;
    margin-left: -100px; */
    width: 200px;
    height: 50px;
    /* box-sizing: border-box; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    cursor: pointer;
}

.adopt-button div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    padding: 10px;
    border: #000000 solid 1px;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.adopt-button div:nth-child(1) {
    color: #000000;
    background-color: #ffffff;
    z-index: 0;
    width: 100%;
    height: 50px;
    clip: rect(0px, 100px, 50px, 0px);
    position: absolute;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.adopt-button div:nth-child(2) {
    color: #000000;
    background-color: #000000;
    z-index: -1;
    width: 100%;
    height: 50px;
    clip: rect(0px, 100px, 50px, 0px);
    position: absolute;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.adopt-button div:nth-child(3) {
    color: #000000;
    background-color: #ffffff;
    z-index: 0;
    width: 100%;
    height: 50px;
    clip: rect(0px, 200px, 50px, 100px);
    position: absolute;
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.adopt-button div:nth-child(4) {
    color: #000000;
    background-color: #000000;
    z-index: -1;
    width: 100%;
    height: 50px;
    clip: rect(0px, 200px, 50px, 100px);
    position: absolute;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.adopt-button:hover div:nth-child(1) {
    background-color: #000000;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
}

.adopt-button:hover div:nth-child(2) {
    color: #ffffff;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

.adopt-button:hover div:nth-child(3) {
    background-color: #000000;
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
}

.adopt-button:hover div:nth-child(4) {
    color: #ffffff;
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

.fa-grip-lines {
    color: chocolate;
    padding: 0 0 0 30px;
}

.pet-show-buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

.photo-main {
    display: flex;
}

.pet-show-images {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 50px;
}

.main-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 504px;
    width: 700px;
    background-color: rgb(234, 224, 215);
}

/* large pic */
.main-image-container > img {
    max-width: 700px;
    max-height: 504px;
    height: auto;
    width: auto;
}

.photo-thumbnail {

    display: flex;
    flex-direction: column;
    margin-right: 1%;
    margin-left: 1%;
}

.photo-thumbnail > img {

    width: 180px;
    height: 160px;
    margin-bottom: 6.5%;
}

.not-selected-photo {
    opacity: 50%;
}

.pet-show-links {
    display: flex;
    justify-content: space-between;
    max-width: 99%
}

.pet-show-back-link {
    position: relative;
    padding: 10px 5px 10px 5px;
    top: 12px;
    left: 3px;

    width: 60px;
    height: 15px;
    
    border: 2px solid black;
    font-size: 7px;
    color: black;
}

.pet-show-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px;
    background-color: rgb(234, 224, 215);
    /* border: 3px solid red; */
}

/* .pet-show-grid > div:first-child {
    border-bottom: solid 2px rgb(192, 152, 140);
} */

.name {
    border-top: solid 2px rgb(192, 152, 140);
    padding-top: 10px;
}

.fees {
    padding-top: 10px;
}
.pet-show-grid-item {
    padding: 5px 5px;
    font-size: 12px;
    /* border: 1px solid rgb(192, 152, 140); */
    /* border: 3px solid blue; */
}


.pet-show-grid > div:first-child {
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 30px;
    color: rgb(192, 152, 140);
}

.pet-show-grid-item > div > h3 {
    font-size: 15px;
    color: rgb(192, 152, 140);
    margin-bottom: 10px;
}

.hours > div {
    width: 110px;
}

.pet-show-grid-item > div > a {
    color: black;
}

.pet-show-grid-item > div > a:hover {
    color: black;
    text-decoration: underline;
}

.fees li:last-child, .contact li:last-child {
    color: rgb(78, 77, 77);
}

@keyframes spin {
  50% {
    -webkit-transform:rotateY(180deg);
    transform:rotateY(-180deg);
  }
}
.show-favorite-button {
    color: rgba(31, 30, 30, 0.904);
    border: 0px;
    perspective: 800px;
    -webkit-perspective: 800px;
    -webkit-transform-orgin:right center;

  /* @include disableTapHighlightColor(); */
}

.show-favorite-button:hover {
    animation-name:spin;
    /* animation-iteration-count:infinite; */
    animation-iteration-count:0.5;
    animation-duration:1.2s;
    animation-timing-function:ease-in;
    cursor: pointer;
  }

.favorite-index-item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.already-adopted {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border: rgba(31, 30, 30, 0.904) solid 3px;
    margin: 15px;
    color: rgba(31, 30, 30, 0.904);
}
/* .pet-liked-item {
    display: flex;
    text-align: center;
    padding: 10px;
}

.pet-liked-link:hover {
    color: rgb(236, 220, 218)
} */
