.gray {
    width: 100%;
    height: 100%;
}

.splash-greeting {
    position: relative;
}

.pirate {
    width: 100%;
}

.splash-text {
   position: absolute;
   top: 400px;
   left: 50px;


   font-family: 'Josefin Sans', sans-serif;
   color: rgba(254, 254, 254, 0.822);
   font-size: 90px;
   letter-spacing: 4px;
   word-spacing: 6px;
   font-weight: lighter;
   text-decoration: none;
   font-style: normal;
}

.splash-demo {
    /* color: rgba(8, 8, 8, 0.913);
    font-size: 60px;
    text-decoration: underline; */
}

.button_base {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    border: 0;
    font-size: 18px;
    top: 50%;
    left: 50%;
    /* margin-top: -25px;
    margin-left: -100px; */
    width: 200px;
    height: 50px;
    text-align: center;
    /* box-sizing: border-box; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

.demo-button {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    /* display: flex;
    justify-content: center; */
}

.demo-button div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: #000000 solid 1px;
    pointer-events: none;
    /* box-sizing: border-box; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.demo-button div:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #000000;
    background-color: #000000;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.demo-button div:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #000000;
    background-color: #ffffff;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.demo-button:hover div:nth-child(1) {
    color: #ffffff;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

.demo-button:hover div:nth-child(2) {
    background-color: #000000;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
}

.cta-body {
    display: grid;
    font-family: Avenir, sans-serif;
    color: black;
    height: 100%;
}

.cta {
  position: relative;
  margin: auto;
  /* padding: 19px 22px; */
  transition: all .2s ease;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    /* background: rgba(235, 163, 163, 0.822); */
    background: #FFAB9D;
    width: 56px;
    height: 56px;
    transition: all .3s ease;
}

.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: super;
    margin-left: 1rem;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.cta:hover:before {
    width: 100%;
    background: rgb(203, 137, 125);
}

.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(.96);
}

.splash-text-logged-out {
    display: inline-block;
    /* position: fixed; */
    height: 50px;
    top: 400px;
    left: 50px;
}

.splash-subtext {
    color: #dab6a1;
    font-size: 30px;
}

.welcome-text {
   display: inline-block;
   width: 80rem;
   position: fixed;
   top: 10%;
   left: 4%;

   font-family: 'Josefin Sans', sans-serif;
   color: white;
   /* background-color:#9b7f71; */
   font-size: 60px;
   letter-spacing: 4px;
   word-spacing: 6px;
   font-weight: lighter;
   text-decoration: none;
   font-style: normal;
}

.splash-services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dfcfc6;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding: 50px 0px 65px 0px;
    margin-top: -3px
}


.splash-services-box h1{
    align-content: center;
    margin: 25px 0 5px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    /* color:rgb(143, 123, 111); */
    color: white;
}

.splash-services {
    display: flex;
    flex-direction: row;
    padding: 40px 0 0 0;
    justify-content: space-evenly;
}

.splash-services > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 60px 0 60px;
    width: 195px;
   color: white;
}

.splash-services-box hr{
    text-align: center;
    width: 50%;
    border-top: 2px solid rgb(236, 222, 222);
}

.index-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    word-spacing: 6px;
    width: 100%;
}

.all-pets-banner {
    display: flex;
    /* position: fixed; */
    justify-content: space-evenly;
    width: 100%;
    /* margin-top: 23px; */
    padding: 12px;
    /* top: 70px; */


    font-family: 'Barlow', sans-serif;
    background-color: rgb(192, 152, 140);
    color: rgb(240, 227, 223);
    font-size: 15px;

    z-index: 1;
}

.all-pets-banner:hover {
    text-decoration: underline;
}

.all-pets-grid {
    display: block;
}

#checkbox {
    opacity: 0;
}

#checkbox:checked + .all-pets-grid {
    display: none;
}

