.gray {
    width: 100%;
    height: 100%;
}

.splash-greeting {
    position: relative;
}

.pirate {
    width: 100%;
}

.splash-text {
   position: absolute;
   top: 400px;
   left: 50px;


   font-family: 'Josefin Sans', sans-serif;
   color: white;
   /* color: red; */
   font-size: 90px;
   letter-spacing: 4px;
   word-spacing: 6px;
   font-weight: lighter;
   text-decoration: none;
   font-style: normal;
}

.splash-text-logged-out {
    display: inline-block;
    /* position: fixed; */
    height: 50px;
    top: 400px;
    left: 50px;
}

.splash-subtext {
    color: #dab6a1;
    font-size: 30px;
}

.welcome-text {
   display: inline-block;
   width: 80rem;
   position: fixed;
   top: 10%;
   left: 4%;

   font-family: 'Josefin Sans', sans-serif;
   color: white;
   /* background-color:#9b7f71; */
   font-size: 60px;
   letter-spacing: 4px;
   word-spacing: 6px;
   font-weight: lighter;
   text-decoration: none;
   font-style: normal;
}

.splash-display {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    word-spacing: 6px;
    /* padding-top: 80px; */
    margin: 50px;
}

.petGrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.pet-index-item {
    position: relative;
    background-color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 30px;
}

.petGrid div:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

.pet-index-item-text {
    position: absolute;
    color: red;
    text-transform: uppercase;
}

.splash-services-box {
    text-align: center;
    background-color: #dfcfc6;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding-bottom: 75px;
    padding-top: 20px;
    /* margin: auto; */
}

.splash-services-box h1{
    align-content: center;
    margin-top: 25px;
    margin-bottom: 5px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 28px;
    /* color:rgb(143, 123, 111); */
    color: white;
}

.splash-services-box hr{
    border-top: 2px solid white;
    margin-bottom: 40px;
    margin-left: 310px;
}

.splash-services-box hr{
    text-align: center;
    width: 50%;
    color: red;
}

.splash-services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.splash-services > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 200px;
    /* color: black; */
    /* color: rgb(65, 49, 33); */
   color: white;
}
