.gray {
    width: 100%;
    height: 100%;
}

.splash-greeting {
    position: relative;
}

.pirate {
    width: 100%;
}

.splash-text {
   position: absolute;
   top: 400px;
   left: 50px;


   font-family: 'Josefin Sans', sans-serif;
   color: white;
   /* color: red; */
   font-size: 90px;
   letter-spacing: 4px;
   word-spacing: 6px;
   font-weight: lighter;
   text-decoration: none;
   font-style: normal;
}

.splash-text-logged-out {
    display: inline-block;
    /* position: fixed; */
    height: 50px;
    top: 400px;
    left: 50px;
}

.splash-subtext {
    color: #dab6a1;
    font-size: 30px;
}

.welcome-text {
   display: inline-block;
   width: 80rem;
   position: fixed;
   top: 10%;
   left: 4%;

   font-family: 'Josefin Sans', sans-serif;
   color: white;
   /* background-color:#9b7f71; */
   font-size: 60px;
   letter-spacing: 4px;
   word-spacing: 6px;
   font-weight: lighter;
   text-decoration: none;
   font-style: normal;
}

.splash-services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dfcfc6;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding: 50px 0px 65px 0px;
    margin-top: -3px
}

.splash-services-box h1{
    align-content: center;
    margin: 25px 0 5px 0;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 28px;
    /* color:rgb(143, 123, 111); */
    color: white;
}

.splash-services-box hr{
    border-top: 2px solid white;
    /* margin-bottom: 40px;
    margin-left: 310px; */
}

.splash-services-box hr{
    text-align: center;
    width: 50%;
    color: red;
}

.splash-services {
    display: flex;
    flex-direction: row;
    padding: 40px 0 0 0;
    justify-content: space-evenly;
}

.splash-services > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 60px 0 60px;
    width: 200px;
    /* color: black; */
    /* color: rgb(65, 49, 33); */
   color: white;
}

.index-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    word-spacing: 6px;
    /* padding-top: 80px; */
    margin: 50px;
}

.all-pets-grid {
    display: block;
}

#checkbox {
    opacity: 0;
}

#checkbox:checked + .all-pets-grid {
    display: none;
}

