.user-show {
    display: flex;
    flex-direction: column;
}

.user-services-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dfcfc6;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 80px
}

.user-services {
    display: flex;
    flex-direction: row;
    padding: 40px 0 0 0;
    justify-content: space-evenly;
}

.user-services-box h1{
    align-content: center;
    margin: 25px 0 5px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    /* word-spacing: 5px; */
    color: white;
}

.user-services > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 60px 0 60px;
    width: 200px;

   color: white;
}

.user-services-box hr{
    text-align: center;
    width: 50%;
    border-top: 2px solid rgb(236, 222, 222);
}

.user-services-favorites{
    color: rgb(236, 222, 222)
}

.user-bottom {
    display: flex;
}

.favorite-index-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 50%;
    justify-content: space-between;
    border: 10px solid rgb(192, 152, 142);
}

.adopted-pets {
    display: flex;
    width: 50%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
}

.adopted-pet-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    /* margin: 15px; */
    width: 80%;
    border: 10px solid rgb(192, 152, 142);
    padding: 3rem;
    zoom: 0.4;
    -moz-transform: scale(0.4);
}

.adopted-pets h1 {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 15px;
}
